.center {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, cursive;
    color: seagreen;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.363);
    transition: 0.3s;
  }
  .btnn{
      position: absolute;
      top:90%;
      left: 30%;
    background-color: #171817;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    margin: 6px 1px;
    border-radius: 12px;
  }