
<div class="wild_photography" class="card">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-sm-4">
                <div class="center">Finding Talent</div>
            </div>
        <div class="col-sm-8">
        <div class="row no-gutters align-items-center ">
            <div class="col-sm-8">
                <div class="wildlife_photo">
                   <a href="/profile"> <img src="assets/img/photography/ft.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="section_title" class="center">
                    <h4 style="font-family:Georgia, 'Times New Roman', Times, cursive;">Work with the largest network of independent professionals and get things done</h4>
                    <a href="/profile"  class="btnn">Find him</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
<div><br> <br></div>

<div class="wild_photography" class="card">
    <div class="container-fluid p-0">
        <div class="row">
        <div class="col-sm-6">
        <div class="row no-gutters align-items-center ">
            <div class="col-lg-6">
                <div  class="center">
                    <h4 style="font-family:Georgia, 'Times New Roman', Times, cursive;">Meet clients you’re excited to work with and take
                        your career or business to new heights.</h4>
                    <a href="ofidx" class="btnn" style="border-radius: 12px;"> Find it</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wildlife_photo">
                   <a href="ofidx"> <img src="assets/img/photography/fw.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="center" style="top:15%;left:10%;margin:5%">Finding  </div>
        <div class="center" style="top:45%;left:10%;margin:5%"> work</div>
    </div>
    </div>
</div>
</div>
<div style="background: none; padding: 40px"></div>