<div
  style="
    background-image: url('../../../assets/img/banner/hh1.jpg');
    background-size: cover;
  ">
  <div style="background: none; padding: 80px"></div>
<div class="cent">
    <div >
        <h5 class="txt"><span style="font-size: 30px; color: black;">WORK</span><span style="font-size: 30px; color: rgb(247, 2, 2);">show</span> is a platform to attract customers and companies to publish their missions and find the freelancers that suit them.</h5>
            <h5 class="txt">Freelancer will have a wide range of missions and choose the right one.</h5>

    </div>
    <HR >
    <h5 class="txt">Customer: </h5>
    <h5 class="txt" style="margin-left: 2%;"> post offres job that can be of the Freelance or other type. He receives proposals from the freelancer, consult them and choose one for agree to job.</h5>
    <img src="../../../assets/img/banner/cli.png" style="margin-left: 23%;">
    <h5 class="txt">Freelancer: </h5>
    <h5 class="txt" style="margin-left: 2%;">search for the job offer that suits him and proposal this offer with motivation letter. </h5>
    <img src="../../../assets/img/banner/fr.png" style="margin-left: 23%;">

</div>  


</div>