<div 
style="background-image: url('../../../assets/img/banner/hh1.jpg'); background-size:cover;
       height: 100vh">
       <app-header></app-header>
<div class="login-box">
<div class="contact_info_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="cotact_info">
                    <div class="section_title">
                            <h3 style="color: rgb(252, 252, 252); font-family: cursive;">Contact Us</h3>
                    </div>
                    <div class="address_info">
                        <h4 style="color:  rgb(231, 231, 229); font-family: cursive;">Address</h4>
                        <ul class="Address" style="color:  rgb(231, 231, 229);" >
                            <li style="color: rgb(231, 231, 229);">
                                    sousse,tunis
                            </li>
                            <li style="color:  rgb(231, 231, 229)">
                                    +216 24 934 850
                            </li>
                            <li style="color:  rgb(231, 231, 229);">
                                    omarramomora@gmail.com
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                    <div class="d-sm-block">
                        <div class="mt-10">
                            <input type="text" name="last_name" placeholder="Last Name"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required
                                class="single-input">
                        <div class="mt-10">
                            <input type="email" name="EMAIL" placeholder="Email address"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required
                                class="single-input">
                        <div class="mt-10">
                            <textarea class="single-textarea" placeholder="Message" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Message'" required></textarea>
                        </div>
                        <br>
                        <a href="#" class="genric-btn info circle arrow">Send</a>
                    
                    </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>