<div id="Developmmet">
    <div class="card card-body">
     
        <div class="row">
            <div class="col-sm-9">
       <ul>
            <li> 
                <a  href="/login">
                  <h3>Music</h3>
                    <h2 class="text">titer</h2> 
                    <h6>date</h6>
        <h3>nom client</h3>
        <p> description</p>
        </a>
    </li>
    </ul>
       </div>
       <div class="col-sm-2">
        <h5>terme of job:</h5>
        <HR>
   
        <h5>Level of experience:</h5>
        <HR>
   
        <h5>Budget:</h5>     </div>
    </div>
    
            </div>
    </div>
  
  