.center{
    padding: 30px;
  font-size: 40px;
  text-align: center;
  background: rgb(105, 245, 245);
}
.fa-star {
  color: gray;
  cursor: pointer;
  padding: 0.0425rem;
}
.fa-star.gold {
  color: #ffdc0f;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 
  .stars {
    display: inline-flex;
    justify-content: center;
    font-size: 3em;
  }

 
  
  .stars:hover .fa-star {
    color: #ffdc0f;
  }
  
  .stars .fa-star:hover ~ .fa-star {
    color: gray;
  }


  .leftcolumn {   
    float: left;
    width: 75%;
  }
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  .edit{
    position: absolute;
    left: 93%;
    top: 11,4%;
    padding: 20px;
    font-size: 40px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  
    border-radius: 50%;
    background-color:none;
    color: rgb(12, 163, 45);
}
    .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
        box-shadow: 0 15px 17px 0 rgba(167, 107, 107, 0.363);
     }
     .cad {
      

        transition: 0.3s;
        border: 1px solid rgba(5, 5, 5, 0.658);
        margin: 20px;
        height: auto;}
     .steps {
        clear: both;
        list-style: none;
        padding-left: 5%;
      }
      .steps li {
        margin: 2em 0;
        padding-top: 1em;
        display: block;
        position: relative;
        counter-increment: inst;
      }
      .steps li::before {
        content: counter(inst);
        
        background: rgb(30, 255, 0);
        color: #fff;
        
        font-size: 1em;
        font-weight: 700;
        font-style: italic;
        text-shadow: 1px 1px rgba(255, 150, 0, 0.5);
        
        border-radius: 0 0.675em 0.675em 0;
        font-size: 1.5em;
        text-align: center;
        
        padding-top: 0;
        padding-left: 2.25%;
        left: -5%;
        top: -0.65em;
        height: 1.35em;
        width: 1.35em;
        position: absolute;
        
        transition: all 0.2s ease-in-out;
        
        z-index: -1;
      }
      @media (min-width: 33em) {
        .steps li:before {
          border-radius: 50%;
          font-size: 1.5em;
          height: 1.35em;
          margin-left: 2.5%;
          padding-left: 0;
          padding-top: 0;
          top: -0.15em;
          width: 1.35em;
          z-index: -1;
        }
      }
      
     
  body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
  }
  
  p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(19, 104, 17);
  }
  
  a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
  }
  
  .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
  }
  
  /* ---------------------------------------------------
    SIDEBAR STYLE
  ----------------------------------------------------- */
  
  .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
  }
  
  
  #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #101110;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    background-attachment: fixed;
  }
  
  #sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
  }
  
  #sidebar .sidebar-header {
    padding: 20px;
    background: #45f57a;
  }
  
  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #263a30;
  }
  
  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }
  
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }
  #sidebar ul li a:hover {
    color: #0b4931;
    background: #fff;
  }
  
  #sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #33534b;
  }
  
  
  a[data-toggle="collapse"] {
    position: relative;
  }
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  
  ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #105730;
  }
  
  ul.CTAs {
    padding: 20px;
  }
  
  ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  a.download {
    background: #fff;
    color: #1c6440;
  }
  
  a.article, a.article:hover {
    background: #0e692d !important;
    color: #fff !important;
  }
  
  
  
  /* ---------------------------------------------------
    CONTENT STYLE
  ----------------------------------------------------- */
  #content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
  }
  
  #sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
  }
  
  #sidebarCollapse span {
    width: 80%;
    height: 7px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.1s;
  }
  
  #sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
  }
  #sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }
  
  
  #sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  
  
  /* ---------------------------------------------------
    MEDIAQUERIES
  ----------------------------------------------------- */
  @media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
  }