
<div class="container">
    <!--dev -->
        <input id="Email" type="checkbox">
        <label for="Email">E-Commerce</label>
        <input id="Book" type="checkbox" >
        <label for="Book">Web design </label>
        <input id="Brochure" type="checkbox">
        <label for="Brochure">creative</label>
        <input id="Business Card" type="checkbox">
        <label for="Business Card"> Back-end basics</label>
        <input id="Catalog" type="checkbox" >
        <label for="Catalog">Front-end basics</label>
        <input id="Logo" type="checkbox">
        <label for="Logo">JavaScript </label>
        <input id="Magazine" type="checkbox">
        <label for="Magazine">HTML</label>
        <input id="Menu" type="checkbox" >
        <label for="Menu">CSS</label>
        <input id="Merchandise" type="checkbox">
        <label for="Merchandise"> AngularJS</label>
        <input id="Poster" type="checkbox">
        <label for="Poster">PHP Script</label>
        <input id="Signage" type="checkbox" >
        <label for="Signage">Python </label>
        <input id="Stationery" type="checkbox">
        <label for="Stationery"> SQL</label>
        <input id="Sticker" type="checkbox">
        <label for="Sticker">SCSS</label>
        <label for="Catalog">Node.js</label>
        <input id="Logo" type="checkbox">
        <label for="Logo">Angular </label>
        <input id="Magazine" type="checkbox">
        <label for="Magazine">JQuery</label>
        <input id="Menu" type="checkbox" >
        <label for="Menu">Redux.js</label>
        <input id="Merchandise" type="checkbox">
        <label for="Merchandise"> WordPress</label>
        <input id="Poster" type="checkbox">
        <label for="Poster"> GraphQL</label>
        <input id="Signage" type="checkbox" >
        <label for="Signage">Git </label>
        <input id="Stationery" type="checkbox">
        <label for="Stationery"> bootstrap</label>
        <input id="Sticker" type="checkbox">
        <label for="Sticker">React.js</label>
        <input id="Sticker" type="checkbox">
        <label for="Sticker">React</label>
      </div>
     