
<div class="container">
    <!-- & Marketing -->
    
        <input id="Email" type="checkbox">
        <label for="Email">Digital and analog mixing</label>
        <input id="Email" type="checkbox">
        <label for="Email">Recording</label>
        <input id="Email" type="checkbox">
        <label for="Email"> Editing equipment</label>
        <input id="Book" type="checkbox" >
        <label for="Book">Thorough knowledge of musical</label>
        <input id="Brochure" type="checkbox">
        <label for="Brochure"> Management and budgeting </label>
        <input id="Business Card" type="checkbox">
        <label for="Business Card"> VBRhapsody </label>
        <input id="Catalog" type="checkbox" >
        <label for="Catalog">Including Audiveris</label>
        <input id="Logo" type="checkbox">
        <label for="Logo">Musical score writing </label>
        <input id="Magazine" type="checkbox">
        <label for="Magazine">Songwriting</label>
        <input id="Menu" type="checkbox" >
        <label for="Menu">Harmony knowledge</label>
        <input id="Merchandise" type="checkbox">
        <label for="Merchandise">Large choir conduction</label>
        <input id="Poster" type="checkbox">
        <label for="Poster">Customer service </label>
        <input id="Signage" type="checkbox" >
        <label for="Signage">Instrument  playing </label>
        <input id="Stationery" type="checkbox">
        <label for="Stationery">ideas and inspiration </label>
        <input id="Sticker" type="checkbox">
        <label for="Sticker">Handling contracts and negotiations</label>
        <input id="Poster" type="checkbox">
        <label for="Poster">Developing the vision </label>
        <input id="Signage" type="checkbox" >
        <label for="Signage">Cubase </label>
        <input id="Stationery" type="checkbox">
        <label for="Stationery">FL Studio </label>
        <input id="Sticker" type="checkbox">
        <label for="Sticker">Pro Tools</label>
      </div>
 

      