
<nav id="sidebar"
style="background-image: url('../../../assets/img/banner/h1.jpeg'); background-size:cover;background-attachment: fixed;
height: 100vh">
 <div id="profile">
                   
    <img src="../../../assets/img/banner/2Ez-tM2L.jpg" alt="Avatar" style="width:100%;border-radius: 100%;">  
   
</div>        


<ul class="list-unstyled components" >
<h3 style="position: relative;margin: 10%; color: white;">DEV GX</h3>
    <li>
        <a href="/client">Profil</a>
        </li>
        <li>
            <a href="/proposition">Proposal</a>
            </li>
        <li >
            
            <a href="/offres" >All offers</a>
        </li>
        
     <li>
        <a href="/talentc">talent</a>
      </li>
    
   
</ul>

<ul class="list-unstyled CTAs">
    <li>
        <a href="/login" class="article">Logout</a>
    </li>
</ul>
</nav>