.text{
    font-family:cursive ;
    
   
}.txt{
  position:fixed;
  left: 35%;
  top: 0,7%;
    font-family:monospace;
    font-size:90px;
    color: rgba(83, 192, 61, 0.774);
  }
  input[type=submit] {
    position: relative;
    left: 43%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 15px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  