<div
  style="
    background-image: url('../../../assets/img/banner/hh1.jpg');
    background-size: cover;
    
  "
>
<h1 class="txt">Category</h1>
<div class="gallery_area" style="position:relative;" >
   
    <div class="container-fluid ">
        <div class="row no-gutters ">
            <div class="col-xl-4 col-md-4">
                <div class="single_photography">
                    <div class="thumb">
                        <img src="assets/img/gallery/dev.jpg" alt="">
                    </div>
                    <a  href="/devof" class="hover ">
                        <div class="hover_inner">
                            <h3>development</h3>
                            <span>web / mobile</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_photography">
                    <div class="thumb">
                        <img src="assets/img/gallery/d1.jpg" alt="">
                    </div>
                    <a  href="/creat" class="hover ">
                        <div class="hover_inner">
                            <h3>Design & Creative </h3>
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_photography">
                    <div class="thumb">
                        <img src="assets/img/gallery/m1.jpg" alt="">
                    </div>
                    <a  href="/mark" class="hover ">
                        <div class="hover_inner">
                            <h3>sales & marketing</h3>
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_photography">
                    <div class="thumb">
                        <img src="assets/img/gallery/w1.jpg" alt="">
                    </div>
                    <a  href="/writ" class="hover ">
                        <div class="hover_inner">
                            <h3>Writing & Translation</h3>
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_photography">
                    <div class="thumb">
                        <img src="assets/img/gallery/book.png" alt="">
                    </div>
                    <a  href="/book" class="hover ">
                        <div class="hover_inner">
                            <h3>Cover book</h3>
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_photography">
                    <div class="thumb">
                        <img src="assets/img/gallery/mv.jpg" alt="">
                    </div>
                    <a  href="/anim" class="hover ">
                        <div class="hover_inner">
                            <h3>Animation</h3>
                            <span>video / photo</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_photography">
                    <div class="thumb">
                        <img src="assets/img/gallery/rs.jpg" alt="">
                    </div>
                    <a  href="/music" class="hover ">
                        <div class="hover_inner">
                            <h3>Music</h3>
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_photography">
                    <div class="thumb">
                        <img src="assets/img/gallery/fe.jpg" alt="">
                    </div>
                    <a  href="/formation" class="hover ">
                        <div class="hover_inner">
                            <h3>Formation </h3>
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="submit" value="Next ">
</div>