form.example input[type=text] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgb(233, 4, 4);
    float: left;
    width: 75%;
    background: none;
    color: rgb(255, 255, 255);
  }
  .txt{
    position: absolute;
   
  top: 40%; ;
     left: 20%;
     width: 60%;
    line-break: strict;
    color: rgb(244, 246, 248);
    text-shadow: 2px 2px rgba(61, 45, 45, 0.452);
  }
  
  form.example button {
    position: absolute;
    top: 50%;
    left:85%;
    transform: translate(-50%, -50%);
    float: left;
    width: 5%;
    padding: 10px;
    background: none;
    color: white;
    font-size: 17px;
    border: 1px solid rgb(233, 4, 4);
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .imm{
    width: 100%;
  }