
      <div style="background-image: url('../../../assets/img/banner/h1.jpeg'); background-size:cover;
      height: 100vh">
        
      <form class="example"  style="margin:auto;max-width:300px">
       <a href="/skils"><h5 class="txt"><span style="font-size: 30px; color: black;">WORK</span><span style="font-size: 30px; color: rgb(247, 2, 2);">show</span> is a platform to attract customers and companies to publish their missions and find the freelancers that suit them.
        Freelancer will have a wide range of missions and choose the right one.</h5></a>

        <input type="text" placeholder="Search.." name="search2">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      </div>