
<div class="container">
<!--Sales & Marketing -->
    <input id="Email" type="checkbox">
    <label for="Email">Marketing API Integration</label>
    <input id="Book" type="checkbox" >
    <label for="Book">Digital Marketing Platforms</label>
    <input id="Brochure" type="checkbox">
    <label for="Brochure">Social Media Management</label>
    <input id="Business Card" type="checkbox">
    <label for="Business Card"> Paid Media</label>
    <input id="Catalog" type="checkbox" >
    <label for="Catalog">Influencer Marketing</label>
    <input id="Logo" type="checkbox">
    <label for="Logo">Content Marketing Strategy</label>
    <input id="Magazine" type="checkbox">
    <label for="Magazine">Internet Marketing</label>
    <input id="Menu" type="checkbox" >
    <label for="Menu">Administrative Support</label>
    <input id="Merchandise" type="checkbox">
    <label for="Merchandise">Digital Marketing</label>
    <input id="Poster" type="checkbox">
    <label for="Poster">Project Time Management and Planning </label>
    <input id="Signage" type="checkbox" >
    <label for="Signage">Market Research </label>
    <input id="Stationery" type="checkbox">
    <label for="Stationery">Search Engine Marketing (SEM)</label>
    <input id="Sticker" type="checkbox">
    <label for="Sticker">Retargeting</label>
  </div>
 