
.card {
    box-shadow: 0 15px 17px 0 rgba(0, 0, 0, 0.363);
    transition: 0.3s;
    border: 2px solid rgba(5, 5, 5, 0.658);
    margin: 20px;
    height: auto;
}
.text {
    position: relative;
    left: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn{
  width: 100%;
  background: rgba(100, 218, 32, 0.747);
  border: 2px solid rgba(5, 5, 5, 0.658);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.363);
  color: rgb(15, 15, 15);
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 50% 0;
  position: relative;
  left: 50%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}