
    
    
  
  .ski.text{
      text-decoration: underline;
          font-family: cursive;
      font-style: oblique;
  }
  
 input[type=checkbox] {
    position: absolute;
    left: 14px;
    top: 20px;
    -ms-transform: scale(4); /* IE */
  -moz-transform: scale(4); /* FF */
  -webkit-transform: scale(4); /* Safari and Chrome */
  -o-transform: scale(4); /* Opera */
  transform: scale(4);

  padding: 10px;
    border-radius: 100%;
  }
  input.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

input[type=checkbox].checkbox-round:checked {
    background-color: rgb(247, 17, 17);
}
  .ski {
    display: inline-block;
    position: relative;
    margin: 7px;
    padding: 15px 30px 15px 62px;
    border: 3px solid #fff;
    border-radius: 100px;
    color: #fff;
    background-color: #6a8494;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
  }
  
  .ski::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 32px;
    border: 3px solid #fff;
    border-radius: 100px;
    transition: background-color .2s;
  }
  
  .ski:first-of-type {
    transform: translateX(-40px);
  }
  
  .ski:last-of-type {
    transform: translateX(40px);
  }
  
  .ski:hover, input[type=checkbox]:focus + .ski {
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
  }
  
  input[type=checkbox]:checked + .ski {
    background-color: #ab576c;
  }
  
  input[type=checkbox]:checked + .ski::before {
    background-color: rgb(255, 255, 255);
  }
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=file] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  .text{
    
    position: relative;
    left: 30%;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
.btnn {
    position: relative;
    left: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    
  }
  
  .col-75 {
    float: left;
    width: 75%;
   
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

      .fieldset {
        margin-bottom: 15px;
        padding: 10px;
      }
       
      .legend {
        padding: 0px 3px;
        font-weight: 700;
        font-variant: small-caps;
      }
       
      .label {
        width: 110px;
        display: inline-block;
        vertical-align: top;
        margin: 6px;
      }
      .label:hover + .hide {
        display: block;
        color: red;
      }
      input type[type='currency']{
        padding: 10px;
        font: 20px Arial;
        width: 70%;
        border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
      }
      body {
        font-family: 'Poppins', sans-serif;
        background: #fafafa;
    }
    
    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }
    
    a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    
    .navbar {
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    
    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }
    
    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }
    
    /* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */
    
    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
        perspective: 1500px;
    }
    
    
    #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #25c540;
        color: #fff;
        transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
        transform-origin: bottom left;
    }
    
    #sidebar.active {
        margin-left: -250px;
        transform: rotateY(100deg);
    }
    
    #sidebar .sidebar-header {
        padding: 20px;
        background: #45f57a;
    }
    
    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #263a30;
    }
    
    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }
    
    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }
    #sidebar ul li a:hover {
        color: #0b4931;
        background: #fff;
    }
    
    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #33534b;
    }
    
    
    a[data-toggle="collapse"] {
        position: relative;
    }
    
    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    
    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #105730;
    }
    
    ul.CTAs {
        padding: 20px;
    }
    
    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    
    a.download {
        background: #fff;
        color: #1c6440;
    }
    
    a.article, a.article:hover {
        background: #0e692d !important;
        color: #fff !important;
    }
    
    
    
    /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */
    #content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }
    
    #sidebarCollapse {
        width: 40px;
        height: 40px;
        background: #f5f5f5;
        cursor: pointer;
    }
    
    #sidebarCollapse span {
        width: 80%;
        height: 2px;
        margin: 0 auto;
        display: block;
        background: #555;
        transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
        transition-delay: 0.2s;
    }
    
    #sidebarCollapse span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
    
    
    #sidebarCollapse.active span {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    
    
    /* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */
    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
            transform: rotateY(90deg);
        }
        #sidebar.active {
            margin-left: 0;
            transform: none;
        }
        #sidebarCollapse span:first-of-type,
        #sidebarCollapse span:nth-of-type(2),
        #sidebarCollapse span:last-of-type {
            transform: none;
            opacity: 1;
            margin: 5px auto;
        }
        #sidebarCollapse.active span {
            margin: 0 auto;
        }
        #sidebarCollapse.active span:first-of-type {
            transform: rotate(45deg) translate(2px, 2px);
        }
        #sidebarCollapse.active span:nth-of-type(2) {
            opacity: 0;
        }
        #sidebarCollapse.active span:last-of-type {
            transform: rotate(-45deg) translate(1px, -1px);
        }
    }
    .card-input-element+.card {
        height: calc(36px + 2*1rem);
        color: var(--primary);
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 2px solid transparent;
        border-radius: 4px;
      }
      
      .card-input-element+.card:hover {
        cursor: pointer;
      }
      
      .card-input-element:checked+.card {
        border: 2px solid var(--primary);
        -webkit-transition: border .3s;
        -o-transition: border .3s;
        transition: border .3s;
      }
      
      .card-input-element:checked+.card::after {
        content: '\e5ca';
        color: #AFB8EA;
        font-family: 'Material Icons';
        font-size: 24px;
        -webkit-animation-name: fadeInCheckbox;
        animation-name: fadeInCheckbox;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      @-webkit-keyframes fadeInCheckbox {
        from {
          opacity: 0;
          -webkit-transform: rotateZ(-20deg);
        }
        to {
          opacity: 1;
          -webkit-transform: rotateZ(0deg);
        }
      }
      
      @keyframes fadeInCheckbox {
        from {
          opacity: 0;
          transform: rotateZ(-20deg);
        }
        to {
          opacity: 1;
          transform: rotateZ(0deg);
        }
    }
    