
<!--<div class="container">
    Sales & Marketing 
        <input id="Email" type="checkbox">
        <label for="Email">Critical thinking</label>
        <input id="Book" type="checkbox" >
        <label for="Book">Problem solving</label>
        <input id="Brochure" type="checkbox">
        <label for="Brochure">Teamwork</label>
        <input id="Business Card" type="checkbox">
        <label for="Business Card"> Collaboration</label>
        <input id="Catalog" type="checkbox" >
        <label for="Catalog">Professionalism </label>
        <input id="Logo" type="checkbox">
        <label for="Logo">Work Ethical</label>
        <input id="Magazine" type="checkbox">
        <label for="Magazine">Oral and written communications </label>
        <input id="Menu" type="checkbox" >
        <label for="Menu">Leadership</label>
        <input id="Merchandise" type="checkbox">
        <label for="Merchandise">Organization</label>
        <input id="Poster" type="checkbox">
        <label for="Poster"> Perseverance and Motivation </label>
        <input id="Signage" type="checkbox" >
        <label for="Signage"> Confidence </label>
        <input id="Stationery" type="checkbox">
        <label for="Stationery">IT</label>
      </div>
     -->
     <div class="signup-w3ls">
      <div class="signup-agile1">
          <form action="#" method="post">
          
            <input type="file" 
            class="filepond"
            name="filepond"
            accept="image/png, image/jpeg, image/gif"/>
              
              <div class="form-control">
                  <label class="header">Store Name :</label>
                  <input type="text" id="store_name" name="store_name" placeholder="Store Name" title="Please enter your First Name" required="">
              </div>
              
              <div class="form-control">
                  <label class="header">Store Type :</label>
                  <input type="text" id="store_type" name="store_type" placeholder="Store Type" title="Please enter your Last Name" required="">
              </div>
  
              <div class="form-control">
                  <label class="header">Owner Type :</label>
                  <input type="text" id="owner_type" name="owner_type" placeholder="Owner Type" title="Please enter a valid email" required="">
              </div>
  
              <div class="form-control">
                  <label class="header">Website :</label>
                  <input type="url" id="website" name="website" placeholder="Website" id="password1" required="">
              </div>
  
              <div class="form-control">
                  <label class="header">Contact Number :</label>
                  <input type="text" id="contact_number" name="contact_number" placeholder="Contact Number" required="">
              </div>
  
              <div class="form-control">
                  <label class="header">Contact Email :</label>
                  <input type="email" id="contact_email" name="contact_email" placeholder="Contact Email" required="">
              </div>
              
              <input type="submit" class="register" value="Register">
  
          </form>
      </div>
  </div>