<p>testimonial works!</p>

<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="single_testmonial text-center">
            <h3>Our Customers Say</h3>
            <p>
                Whether you’re about to create a website for the first time, or you’re looking 
                for a theme that provides advanced capabilities, we have got them in 
                Blacksilver theme.
            </p>
            <div class="author_name d-flex align-items-center justify-content-center">
                <div class="thumb">
                    <img src="assets/img/testmonial/author.png" alt="">
                </div>
                <span>- Robert Thomson</span>
            </div>
        </div>
   
       
    </ng-template>
    <ng-template carouselSlide>
    <div class="single_testmonial text-center">
        <h3>Our Customers Say</h3>
        <p>
            Whether you’re about to create a website for the first time, or you’re looking 
            for a theme that provides advanced capabilities, we have got them in 
            Blacksilver theme.
        </p>
        <div class="author_name d-flex align-items-center justify-content-center">
            <div class="thumb">
                <img src="assets/img/testmonial/author.png" alt="">
            </div>
            <span>- Robert Thomson</span>
        </div>
    </div>

</ng-template>
  </owl-carousel-o>