

    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <input type="text" placeholder="Search.." name="search2" class="ssin">


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              
                        <a  href="/poste" style="margin: 2%;" >Add job</a>
                 
                       
                            <a class="dropbtn" href="/offc"> My offers </a>
                               
                       
                           
                            
                            <a href="/login" style="margin: 2%;">Logout</a>
                    
            </div>
        </div>
    </nav>