<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
<div class="instragram_area">
    <div class="single_instagram">
        <img src="assets/img/instragram/1.png" alt="">
        <div class="ovrelay">
            <a href="#">
                <i>devloppeur</i>
            </a>
        </div>
    </div>
    <div class="single_instagram">
        <img src="assets/img/instragram/2.png" alt="">
        <div class="ovrelay">
            <a href="#">
                <i>Design & Creative</i>
            </a>
        </div>
    </div>
    <div class="single_instagram">
        <img src="assets/img/instragram/3.png" alt="">
        <div class="ovrelay">
            <a href="#">
                <i>sales & marketing</i>
            </a>
        </div>
    </div>
    <div class="single_instagram">
        <img src="assets/img/instragram/4.png" alt="">
        <div class="ovrelay">
            <a href="#">
                <i>Writing & Translation</i>
            </a>
        </div>
    </div>
    <div class="single_instagram">
        <img src="assets/img/instragram/5.png" alt="">
        <div class="ovrelay">
            <a href="#">
                <i>Cover book</i>
            </a>
        </div>
    </div>
    <div class="single_instagram">
        <img src="assets/img/instragram/6.png" alt="">
        <div class="ovrelay">
            <a href="#">
                <i>video / photo</i>
            </a>
        </div>
    </div>
    <div class="single_instagram">
        <img src="assets/img/instragram/6.png" alt="">
        <div class="ovrelay">
            <a href="#">
                <i>Music</i>
            </a>
        </div>
    </div>
</div>
</ng-template>
  </owl-carousel-o>