<body>
    <div class="wrapper">
       <app-sadbar></app-sadbar>
        <div id="content">
            <app-nav></app-nav>
                <h1 class="title">Choose who deserves this job</h1>
    <a href="#"><h3>Application web</h3></a> 
    <div class="cent">
      <div class="card">
        <a href="/letr">
         
            <img src="../../../assets/img/banner/AVT_Ahmed-Djouder_6661.jpg" alt="Avatar" style=" height: 380px; width:100%">
            <div class="container">
              <h4><b>Medali</b></h4> 
              <p>Development</p> 
              <p>Expert</p>
            </div>
          
        </a></div>
        <div class="card">
             <a href="/letr">
       
            <img src="../../../assets/img/banner/iqm1duauwoejrgacl4oc.jpg" alt="" style="width:100%">
            <div class="container">
              <h4><b>Zouiter Omar</b></h4> 
              <p>Development</p> 
              <p>Expert</p>
            </div>
         
        </a>  </div>
       
</div>
</div>
</div>
</body>


