<nav id="sidebar"
        style="background-image: url('../../../assets/img/banner/h1.jpeg'); background-size:cover;background-attachment: fixed;
        height: 100vh">
        <div class="d-flex justify-content-center">
           
                <div class="profile">
                    
                    <img src="http://localhost:3000/{{Freelancer.profileImage}}" alt="Avatar" style="width:100%;border-radius: 100%;">

                   
                  
            </div>        
        </div>
        
        <ul class="list-unstyled components" >
            <h3 style="position: relative;margin: 10%; color: white;">Medali</h3>
            <li>
                <a href="/freelanceur">Profil</a>
                </li>
                <li >
                    
               <a href="/offrf">Offre</a>
                </li>
             <li>
                 <a href="/proposalf" > proposal</a>
              </li>
           
        </ul>
        
        <ul class="list-unstyled CTAs">
            <li>
                <a href="/login" class="article">Logout</a>
            </li>
        </ul>
        </nav>
          