<div class="wrapper">
  <nav
    id="sidebar"
    style="
      background-color: rgb(34, 33, 33);
      background-size: cover;
      background-attachment: fixed;
      height: 100vh;
    "
  >
    <div class="d-flex justify-content-center">
      <img
        src="../../../assets/img/banner/lo.png"
        width="150"
        height="150"
        alt=""
      />
    </div>
    <hr />
    <ul class="list-unstyled components">
      <li>
        <a href="/admin">Statistic</a>
      </li>
      <li>
        <a href="/adminfree">Freelancer</a>
      </li>
      <li>
        <a href="/adminclient">Client</a>
      </li>

      <li>
        <a href="/adminoffre">Offer</a>
      </li>
      <li>
        <a href="/message">Contact</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a href="/login" class="article">Logout</a>
      </li>
    </ul>
  </nav>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <input type="text" placeholder="Search.." name="search2" class="ssin" />

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a href="/login" style="margin: 2%; position: relative; left: 80%"
            >Logout</a
          >
        </div>
      </div>
    </nav>

    <div class="charts">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-center">Number of offers per category</h2>
          <canvas id="myChart" width="1200px" height="400" ></canvas>
        </div>
        <div class="col-md-6">
          <h2 class="text-center">Statistics</h2>
          <canvas
            class="mt-6"
            id="myChart2"
            width="1200px"
            height="400"
          ></canvas>
        </div>
      </div>

      <br /><br />
      <h2 class="text-center">registered users per day</h2>
      <canvas class="mt-12" id="myChart3" width="600px" height="250"></canvas>
      <h4 class="text-center">Day</h4>
    </div>
  </div>
</div>
