
       <div class="wrapper">
        <app-sadbar></app-sadbar>
         <div id="content">
             <app-nav></app-nav>
              <a href="/aboutc" class="edit"><i class="ti-pencil"></i></a>
     <div class="center" >
      
      <img src="../../../assets/img/banner/2Ez-tM2L.jpg" alt="Avatar" style="width:20%;border-radius: 100%;">  
          <h1>DEV-PRO</h1>
         
   
     <div class="rating">
            <div class="stars">
              <i class="fa fa-star "><span style="font-size: 30px;">0.0</span></i>
         
            </div>
     </div>   
</div>
<div class="row">
     <div class="leftcolumn">
       <div class="card">
         <h2>description</h2>
         <p>Dev-Pro est une entreprise tunisiene ...</p>
       </div>
       <div class="card">
         <h2>Objectives</h2>
         <p>Notre objectif est ...</p>
         </div>
     </div>
     <div class="rightcolumn">
            <div class="card" style="background-color: rgb(43, 226, 134);">
              <h2>About me</h2>
             <h5>Sousse/Tunisia</h5>
             <h5>+21633400500</h5>
             
              
            </div>
     </div>
</div>
</div>