<div
  style="
    background-image: url('../../../assets/img/banner/hh1.jpg');
    background-size: cover;
  "
>
  <div style="background: none; padding: 80px"></div>
 
  <div class="nav">
    <button
    class="btn active"
    type="button"
    data-toggle="collapse"
    data-target="#Developmmet"
    aria-expanded="false"
    aria-controls="collapseExample"
    (click)="setSelectedCat('DEV')"
  >
    Developmmet
  </button>
  <button
    class="btn"
    type="button"
    data-toggle="collapse"
    data-target="#Design"
    aria-expanded="false"
    aria-controls="collapseExample"
    (click)="setSelectedCat('design')"
  >
    Design & Creative
  </button>
  <button
    class="btn"
    type="button"
    data-toggle="collapse"
    data-target="#Sales"
    aria-expanded="false"
    aria-controls="collapseExample"
    (click)="setSelectedCat('marketing')"
  >
    Sales & Marketing
  </button>
  <button
    class="btn"
    type="button"
    data-toggle="collapse"
    data-target="#Writing"
    aria-expanded="false"
    aria-controls="collapseExample"
    (click)="setSelectedCat('writing')"
  >
    Writing & Translation
  </button>
  <button
    class="btn"
    type="button"
    data-toggle="collapse"
    data-target="#Cover"
    aria-expanded="false"
    aria-controls="collapseExample"
    (click)="setSelectedCat('cover')"
  >
    Cover book
  </button>
  <button
    class="btn"
    type="button"
    data-toggle="collapse"
    data-target="#Animation"
    aria-expanded="false"
    aria-controls="collapseExample"
    (click)="setSelectedCat('animation')"
  >
    Animation
  </button>
  <button
    class="btn"
    type="button"
    data-toggle="collapse"
    data-target="#Music"
    aria-expanded="false"
    aria-controls="collapseExample"
    (click)="setSelectedCat('music')"
  >
    Music
  </button>
  <button
    class="btn"
    type="button"
    data-toggle="collapse"
    data-target="#Formation"
    aria-expanded="false"
    aria-controls="collapseExample"
    (click)="setSelectedCat('formation')"
  >
    Formation
  </button>
  </div>

<div class="team_area">
    <div class="container">
<div class="border_bottom">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single_team" style="background-color: white; border-radius: 5px 5px 0 0;">
               <a href="/aboutf"> <div   class="team_thumb">
                    <img src="../../../assets/img/banner/000940534_illustration_large.jpg" style="height: 350px;" alt="">
                </div></a>
                <div class="team_info text-center">
                   <a href="/aboutf"> <h3>Ahmed </h3></a>
                    <h6>Developmmet</h6>
                    <p>Entry level</p>
                </div>
            </div>
       </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single_team" style="background-color: white; border-radius: 5px 5px 0 0;">
                 <a href="/aboutf"> <div   class="team_thumb">
                      <img src="../../../assets/img/banner/iqm1duauwoejrgacl4oc.jpg" alt="">
                  </div></a>
                  <div class="team_info text-center">
                     <a href="/aboutf"> <h3>Omar Zouiter</h3></a>
                      <h6>Developmmet</h6>
                      <p>Expert</p>
                  </div>
              </div>
          </div>
        
        
    </div>  
 </div>
</div>

 