<body>
    <div class="wrapper">
       <app-sadf></app-sadf>
        <div id="content">
            <app-navf></app-navf>
              
    <table class="table table-bordered">
        <thead>
          <tr>
             <th>Name</th>
           
            <th>Categorie</th>
            
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>
             <a href="/disc"> <p class="hyphens" lang="de">DEV-GX</p></a>
            </td>
           
            <td>
              <p class="hyphens" lang="de">
               Development</p>
            </td>
            
          
            <td>
             
              <button
                class="btn btn-primary"
                title="Delete"
                data-toggle="tooltip"
              
              >
                <i class="material-icons">Delete</i>
              </button>
            </td>
            
          </tr>
        </tbody>
      </table>  