
<div class="container">
    <!-- & Marketing -->
    
        <input id="Email" type="checkbox">
        <label for="Email">English</label>
        <input id="Email" type="checkbox">
        <label for="Email">French</label>
        <input id="Email" type="checkbox">
        <label for="Email">German</label>
        <input id="Book" type="checkbox" >
        <label for="Book">Arabic</label>
        <input id="Brochure" type="checkbox">
        <label for="Brochure">Chinese</label>
        <input id="Business Card" type="checkbox">
        <label for="Business Card"> Essay Writing</label>
        <input id="Catalog" type="checkbox" >
        <label for="Catalog">Article Writing</label>
        <input id="Logo" type="checkbox">
        <label for="Logo">Research Proposal </label>
        <input id="Magazine" type="checkbox">
        <label for="Magazine">Editing & Proofreading</label>
        <input id="Menu" type="checkbox" >
        <label for="Menu">Writing</label>
        <input id="Merchandise" type="checkbox">
        <label for="Merchandise">Report Writing</label>
        <input id="Poster" type="checkbox">
        <label for="Poster">Financial Writing </label>
        <input id="Signage" type="checkbox" >
        <label for="Signage">Content Writing </label>
        <input id="Stationery" type="checkbox">
        <label for="Stationery">   Business Analysis </label>
        <input id="Sticker" type="checkbox">
        <label for="Sticker">Technical Writing</label>
        <input id="Poster" type="checkbox">
        <label for="Poster">Official Documents Translation</label>
        <input id="Signage" type="checkbox" >
        <label for="Signage">Subtitles </label>
        <input id="Stationery" type="checkbox">
        <label for="Stationery">  Localized Content </label>
        <input id="Sticker" type="checkbox">
        <label for="Sticker">Documentation</label>
      </div>
 

      