<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <input type="text" placeholder="Search.." name="search2">


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
                   
                    <a  href="/job" style="margin: 4%;">Job</a>
                    <a href="/favoris" style="margin: 4%;">Favoris</a> 
                    
               
                    
                    <a href="/login" style="margin: 4%;">Logout</a>
            
        </div>
    </div>
</nav>
