
       <div class="wrapper">
        <app-sadbar></app-sadbar>
         <div id="content">
             <app-nav></app-nav>
             <div class="center" >
              <img src="../../assets/img/banner/AVT_Ahmed-Djouder_6661.jpg" alt="Avatar" style="width:20%;border-radius: 100%;">
              <h1>Medali</h1>
                 <p>Development</p>
                 <div class="rating">
                  <div class="stars">
                    <i class="fa fa-star "></i>
                    <i class="fa fa-star "></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
            
          </div>
          </div>
          <div class="row">
             <div class="leftcolumn">
               <div class="card">
                 <h2>description</h2>
                 <p>je suis un etudiant</p>
               </div>
               <div class="cad">
                 <h2>Experience</h2>
            
                 <ol class="steps">
                  <li>je fait experience a dev-consulting</li>
                 
                  
                </ol>
             </div>
             <div class="cad">
              <h2>Formation</h2>
              <ol class="steps">
               <li>diplome</li>
              
               
             </ol>
          </div>
             </div>
             <div class="rightcolumn">
                    <div class="card" style="background-color: rgb(43, 226, 134);">
                      <h2>About me</h2>
                     <h5>Tunisia/Sousse</h5>
                     <h5>+21622345670 </h5>
                     </div>
</div>
</div>