<body>
    <div class="wrapper">
       <app-sadf></app-sadf>
        <div id="content">
            <app-navf></app-navf> 
            <div id="Developmmet">
                <div class="card card-body">
                 
                    <div class="row">
                        <div class="col-sm-9">
                   <ul>
                        <li> 
                            
                              <h3>Developmmet</h3>
                                <h2 class="text" style="color: rgb(92, 47, 175);"> Développeur</h2> 
                                
                    <h3 style="color: rgb(0, 140, 255);"><span style="font-size: 20px; color: black;">by</span>Dev-GX</h3>
                    <span>2021-06-22</span>
                    <p> Afin d’accompagner sa forte croissance, NeoXam recherche un Développeur .Net(H/F) pour son équipe de développement du produit Tracker.... </p>
                    
                </li>
                </ul>
                <h4 style="color: rgb(2, 177, 2);">Skills</h4><span>HTML,CSS,JS,REACT</span>
                      
                   </div>
                   <div class="col-sm-2">
                    <h5 style="color: rgb(7, 228, 136);">terme of job: </h5><span>short-terme</span>
                    <HR>
               
                    <h5 style="color: rgb(7, 228, 136);">Level of experience:
                    </h5><span>Expert</span>
                    <HR>
               
                    <h5 style="color: rgb(7, 228, 136);">Budget: </h5><span>1200dt</span>     </div>
                </div>
                
                        </div>
                </div>
        </div>
    </div>
</body>